// Imports 

    @import url("./style.scss");

//

// Variables 

    $red : #ef476f;
    $green : #06d6a0;
    $blue : #118ab2;
    $black : #010b14;
    $white : #F9F7F7;

//

// Copyright 

    #copyright {
        display: flex;
        justify-content: center;
        background-color: $black;

        p {
            padding: 5vh auto 2vh;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            color: $white;
            margin: 2vh auto; 
        }
    }

//